.link{
    text-decoration: none;
    font-weight: bold;
    font-size: 24px;
    padding: 10px;
}
.navigation{
padding: 10px  0;
}
.line{
    border:1px solid var(--black);
    background:var(--black);
}
.list{
    list-style: none;
    display: flex;
    padding: 0;
    margin:0;
}